@media (max-width: 1000px){
 header{
    float: none;
    display: block;
    text-align: left;
 }

 .message-wrapper{
    text-align: center;;
 }

 .project-example{
    width: 100%;
 }

 footer{
    margin: 0px 0px;
    height: 210px;
    text-align: center;
    float: none;
 }

}

@media (max-width: 670px){

    .message-wrapper{
        text-align: center;
    }

    .message-wrapper h1{
        font-size: 80px;
    }
    .message-wrapper h3{
        font-size: 50px;
    }

    
    .project-example{
        margin-bottom: 10px;
        display: inline-block;
    }

    .contact-form{
        width: 100%;
    }

    .contact-form input, textarea{
        width:80%;
        padding: 15px 15px;
    }

    footer {
        height: auto;
      }
      
      .footer-logo {
        float: none;
        padding: 20px;
        font-size: 36px;
      }
      
      .footer-list {
        float: none;
        padding: 20px;
        font-size: 16px;
      }
      
      .footer-list li {
        margin-bottom: 5px;
        padding-bottom: 5px;
      }
      
      .header a {
        float: none;
        display: block;
        text-align: left;
      }

      .header a.logo {
        border-bottom: 1px solid white;
      }
      
      .header-right {
        float: none;
      }
    }
}
